/* Estils web */
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:Arial, Helvetica, sans-serif;
}	
body{
	background-color:#DDD;
}

#contenidor{
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	}
#cap{
	width:80%;
	background-color:#88F;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	margin-bottom:5px;
	}
#menu{
	background-color:#CCF;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid blue 1px;
	margin-bottom:5px;
	}
#menu ul{
	background-color:#CCC;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid blue 1px;
	width: 60%;
	}
#menu ul li{
	background-color:#FFF;
	list-style-type:none;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid blue 1px;
}


#principal{
	width:80%;
	background-color:#88F;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	margin-bottom:5px;
	}

#principal ul{
	background-color:#CCC;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid blue 1px;
	width: 60%;
	}
#principal ul li{
	background-color:#FFF;
	list-style-position: inside;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid blue 1px;
	width: 40%
}

#peu{
	width:80%;
	background-color:#88F;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	}
.imatge{
	width:200px;
}
.imatgealumne{
	width:600px;
}
.imatgefoto{
	width:700px;
}
